<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Home Section</title>
</head>

<body>
	<div class="container text-center">
		<h1>Library Mangement System</h1>
		<a th:href="@{/admin/viewLibrarian}" class="btn btn-primary btn-lg mt-5">Admin</a><br>
		<a th:href="@{/librarian/viewBookDetails}" class="btn btn-secondary btn-lg mt-3">Librarian</a>
	</div>
</body>

</html>