<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

	<title>Librarian Details</title>
</head>

<body>
	<div class="container">

		<h3 class="text-center">Librarian Details</h3>
		<hr>
		<div class="row">
			<div class="col-md-6">
				<a th:href="@{/admin/showAddLibrarian}" class="btn btn-primary btn-sm mb-3">Add Librarian</a>
			</div>
			<div class="col-md-6 text-md-end">
				<a th:href="@{/library/home}" class="btn btn-primary btn-sm mb-3">Back to Home</a>
			</div>
		</div>

		<table class="table table-bordered table-striped text-center">
			<thead class="table-dark">
				<tr>
					<th>Name</th>
					<th>Password</th>
					<th>Email</th>
					<th>Address</th>
					<th>City</th>
					<th>Contact</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempAdmin : ${admin}">
					<td th:text="${tempAdmin.name}" />
					<td th:text="${tempAdmin.password}" />
					<td th:text="${tempAdmin.email}" />
					<td th:text="${tempAdmin.address}" />
					<td th:text="${tempAdmin.city}" />
					<td th:text="${tempAdmin.contact}" />
					<td>
						<a th:href="@{/admin/updateLibrarian(adminId=${tempAdmin.id})}"
							class="btn btn-info btn-sm">Update</a>
						<a th:href="@{/admin/deleteLibrarian(adminId=${tempAdmin.id})}"
							class="btn btn-danger btn-sm">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>

		<hr>

	</div>
</body>

</html>